name: Broken Links Check

on:
  schedule:
    - cron: "0 0 */2 * *"

permissions:
  contents: read

jobs:
  check-broken-links:
    name: Check Broken Links
    runs-on: hiero-client-sdk-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 10.17.0

      - name: Install Dependencies
        run: pnpm add @octokit/rest axios dotenv path axios-retry

      - name: Run Broken Links Check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node scripts/broken-links-check.js

