name: Build & Test
on:
  push:
    branches:
      - main
      - develop
      - release/*
      - integration-test-workflow
  pull_request:
    branches:
      - main
      - develop
      - release/*

defaults:
  run:
    shell: bash

permissions:
  contents: read
  pull-requests: write

env:
  CG_EXEC: ionice -c 2 -n 2 nice -n 19

jobs:
  build:
    name: Build using Node ${{ matrix.node }}
    runs-on: hiero-client-sdk-linux-medium
    strategy:
      matrix:
        node: [ "22", "24" ]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Build @hiero-ledger/sdk
        run: task -v build

  test:
    name: Test using Node ${{ matrix.node }}
    runs-on: hiero-client-sdk-linux-large
    strategy:
      matrix:
        node: [ "22" ]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: task install

      - name: Install Playwright Dependencies
        id: playwright-deps
        run: |
          sudo npx playwright install-deps
          npx playwright install

      - name: Prepare Hiero Solo
        id: solo
        uses: hiero-ledger/hiero-solo-action@4d42a74e8e644a2753f3bb7a2afa429305375b14 # v0.16
        with:
          installMirrorNode: true
          hieroVersion: v0.71.0
          mirrorNodeVersion: v0.142.0
          grpcProxyPort: 8080

      - name: Set Operator Account
        run: |
          echo "OPERATOR_KEY=${{ steps.solo.outputs.ed25519PrivateKey }}" >> $GITHUB_ENV
          echo "OPERATOR_ID=${{ steps.solo.outputs.ed25519AccountId }}" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_KEY=302e020100300506032b65700422042091132178e72057a1d7528025956fe39b0b847f200ab59b2fdd367017f3087137" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_ID=0.0.2" >> $GITHUB_ENV
          echo "HEDERA_NETWORK=local-node" >> $GITHUB_ENV

      - name: Run Hedera SDK Integration Tests
        run: ${{ env.CG_EXEC }} task test:integration:codecov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          fail_ci_if_error: false

      - name: Build @hiero-ledger/cryptography
        working-directory: packages/cryptography
        run: ${{ env.CG_EXEC }} task build

      - name: Browser Unit Test @hiero-ledger/cryptography
        working-directory: packages/cryptography
        run: ${{ env.CG_EXEC }} task test:unit:browser

      - name: Codecov @hiero-ledger/cryptography
        working-directory: packages/cryptography
        run: ${{ env.CG_EXEC }} task test:unit:codecov

      - name: Upload @hashgraph/cryptography coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/cryptography/coverage/lcov.info
          fail_ci_if_error: false

      - name: Browser Unit Test @hiero-ledger/sdk
        if: ${{ steps.playwright-deps.conclusion == 'success' && !cancelled() && always() }}
        run: ${{ env.CG_EXEC }} task test:unit:browser

      - name: Codecov @hiero-ledger/sdk
        run: ${{ env.CG_EXEC }} task test:unit:codecov

      - name: Upload @hashgraph/sdk coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  dab-tests:
    name: DAB Tests using Node ${{ matrix.node }}
    runs-on: hiero-client-sdk-linux-medium
    strategy:
      matrix:
        node: [ "22" ]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: task install

      - name: Install Playwright Dependencies
        id: playwright-deps
        run: |
          sudo npx playwright install-deps
          npx playwright install

      - name: Prepare Hiero Solo
        id: solo
        uses: hiero-ledger/hiero-solo-action@4d42a74e8e644a2753f3bb7a2afa429305375b14 # 0.17.0
        with:
          installMirrorNode: true
          hieroVersion: v0.71.0
          mirrorNodeVersion: v0.142.0
          grpcProxyPort: 8080
          dualMode: true
          dualModeGrpcProxyPort: 8081

      - name: Set Operator Account
        run: |
          echo "OPERATOR_KEY=${{ steps.solo.outputs.ed25519PrivateKey }}" >> $GITHUB_ENV
          echo "OPERATOR_ID=${{ steps.solo.outputs.ed25519AccountId }}" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_KEY=302e020100300506032b65700422042091132178e72057a1d7528025956fe39b0b847f200ab59b2fdd367017f3087137" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_ID=0.0.2" >> $GITHUB_ENV
          echo "HEDERA_NETWORK=local-node" >> $GITHUB_ENV

      - name: Run DAB Integration Tests
        run: task test:integration:dual-mode

  examples:
    name: Run examples using Node ${{ matrix.node }}
    runs-on: hiero-client-sdk-linux-medium
    strategy:
      matrix:
        node: [ "22" ]
    steps:
      -  name: Harden Runner
         uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
         with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies and build SDK
        run: task build

      - name: Prepare Hiero Solo
        id: solo
        uses: hiero-ledger/hiero-solo-action@4d42a74e8e644a2753f3bb7a2afa429305375b14 # v0.16
        with:
          installMirrorNode: true
          hieroVersion: v0.71.0
          mirrorNodeVersion: v0.142.0
          grpcProxyPort: 8080

      - name: Set Operator Account
        run: |
          echo "OPERATOR_KEY=${{ steps.solo.outputs.ecdsaPrivateKey }}" >> $GITHUB_ENV
          echo "OPERATOR_ID=${{ steps.solo.outputs.ecdsaAccountId }}" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_KEY=302e020100300506032b65700422042091132178e72057a1d7528025956fe39b0b847f200ab59b2fdd367017f3087137" >> $GITHUB_ENV
          echo "GENESIS_OPERATOR_ID=0.0.2" >> $GITHUB_ENV
          echo "HEDERA_NETWORK=local-node" >> $GITHUB_ENV

      - name: Install examples dependencies
        run: |
          cd examples
          pnpm i

      - name: Run all examples
        run: task run:examples
