# This workflow has been disabled from the GH Actions Server side (gh CLI or Github UI).
name: React Native
on:
  push:
    branches:
      - main
      - develop
      - release/*
      - build
  pull_request:
    branches:
      - main
      - develop
      - release/*

defaults:
    run:
        shell: bash

permissions:
  contents: read

jobs:
  android:
    name: Android
    runs-on: macos-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "22"

      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hiero-ledger/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: AVD
        run: |
          brew install android-platform-tools
          pnpm install -g envinfo detox-cli && envinfo
          echo yes | $ANDROID_HOME/tools/bin/sdkmanager --channel=0 --verbose "system-images;android-28;default;x86_64"
          $ANDROID_HOME/tools/bin/avdmanager --verbose create avd --force --name "Nexus6P" --package "system-images;android-28;default;x86_64" --sdcard 200M --device 11
          adb start-server

      - name: Build
        working-directory: examples/react-native-example
        run: |
          ../../node_modules/.bin/yalc add "@hiero-ledger/sdk"
          yarn
          detox build --configuration android

      - name: Test
        working-directory: examples/react-native-example
        run: detox test --configuration android

  ios:
    name: iOS
    runs-on: macos-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.7.0

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "22"

      # Note: After Step-Security is enabled return to step-security/action-setup version
      - name: Install PNPM
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9.15.5

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hiero-ledger/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: Build
        working-directory: examples/react-native-example
        run: |
          brew tap wix/brew
          brew install applesimutils
          yalc add "@hiero-ledger/sdk"
          yarn
          detox build --configuration ios

      - name: Test
        working-directory: examples/react-native
        run: |
          detox test --configuration ios
